<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GitJournal</title>

  

  
  
  
  
  
  <link rel="stylesheet" href="https://gitjournal.io/styles/main.min.css" media="screen" crossorigin="anonymous">

  
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">

  
  <script async defer data-domain="gitjournal.io" src="https://plausible.gitjournal.io/js/index.js"></script>
  
</head>

<body class=''>
  <div id="app" class="flex flex-col min-h-screen font-mono">
    


















































































































































































































































<header class="container mx-auto sm:flex sm:justify-between sm:max-w-3xl xl:max-w-5xl">
  <div class="flex items-center justify-between px-4 py-2" :class="isOpen ? 'shadow-sm' : 'shadow-none'">
    <div>
      <a href="/">
        <img class="h-8" src="/images/logos/icon-logo.svg" alt="GitJournal" />
      </a>
    </div>
    <div class="sm:hidden">
      <button @click="isOpen = !isOpen" type="button"
        class="text-gray-800 hover:text-green-400 focus:text-green-900 focus:outline-none">
        <svg v-if="!isOpen" class="h-8 w-8 fill-current" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
        <svg v-if="isOpen" class="h-8 w-8 fill-current" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>
  <div :class="isOpen ? 'block' : 'hidden'" class="px-1 py-3 pb-3 shadow-lg font-normal rounded sm:flex sm:shadow-none">
    
    
    

    <a class="block mt-1 text-center py-2 text-gray-900 hover:bg-green-400 rounded text-l sm:mx-3 sm:hover:bg-transparent sm:hover:text-green-500 xl:text-xl"
      href="/pricing">Pricing</a>
    
    
    

    <a class="block mt-1 text-center py-2 text-gray-900 hover:bg-green-400 rounded text-l sm:mx-3 sm:hover:bg-transparent sm:hover:text-green-500 xl:text-xl"
      href="/support">Docs</a>
    
    
    
    
    

    <a class="block mt-1 text-center py-2 text-gray-900 hover:bg-green-400 rounded text-l sm:mx-3 sm:hover:bg-transparent sm:hover:text-green-500 xl:text-xl"
      href="https://gitjournal.io/changelog/1.70/">Changelog</a>
    
    
    

    <a class="block mt-1 text-center py-2 text-gray-900 hover:bg-green-400 rounded text-l sm:mx-3 sm:hover:bg-transparent sm:hover:text-green-500 xl:text-xl"
      href="/blog">Blog</a>
    
    
    

    <a class="block mt-1 text-center py-2 text-gray-900 hover:bg-green-400 rounded text-l sm:mx-3 sm:hover:bg-transparent sm:hover:text-green-500 xl:text-xl"
      href="/about">About</a>
    
  </div>
</header>


    <div class="flex-grow self-center mt-16 mb-16 px-4">

      

<article class="prose xl:prose-xl">
  <h1 class="text-4xl mt-1 m-0">Support</h1>
  <h2 class="text-sm"></h2>

  <div class="mt-12">
    <p>Please email me at <a href="mailto:support@gitjournal.io">support@gitjournal.io</a> for any questions.</p>
<h1 id="faq">FAQ</h1>
<h2 id="general">General</h2>
<h3 id="why-create-another-note-taking-app">Why create another Note Taking App?</h3>
<p>There are many Note taking apps on the desktop, but the mobile space is lacking good note taking apps which give you control over your data and operate with open protocols.</p>
<h3 id="what-is-git-and-why-should-i-care">What is Git and why should I care?</h3>
<p>We all have many different devices. Our notes need to be accessible on all these devices. Synchronization is an essential feature of any note taking application. Most apps use DropBox or Google Drive. The problem is these synchronization mechanisms are not open and are controlled by single corporations.</p>
<p>The aim with GitJournal was to allow anyone to manage their notes across different devices without relying on a specific corporation. Git is a well tested protocol that has many advantages - there are many commercial providers of Git (GitHub / GitLab), most corporations already have their own git servers, and as an individual running your own Git server has a much lower barrier to entry than any other custom program.</p>
<p>You should get to decide who you trust with your data. GitJournal is just a way of accessing that data.</p>
<h2 id="desktop-app">Desktop App</h2>
<p>GitJournal&rsquo;s <a href="https://github.com/GitJournal/GitJournal/issues/137">desktop app</a> is still in its early stages. However, GitJournal is built with the idea of customizability. No one note taking app works for everyone, and GitJournal tries to be compatible with most desktop notes applications.</p>
<p>Here are some of our recommendations -</p>
<ul>
<li><a href="https://foambubble.github.io/foam/">Foam</a></li>
<li><a href="zettlr.com">Zettlr</a></li>
<li><a href="https://notable.app/">Notable</a> [Not Open Source]</li>
<li><a href="https://obsidian.md/">Obsidian</a> [Not Open Source]</li>
</ul>
<p>Each of these Note taking applications is built around simple markdown files, which can then be synced via Git.</p>
<h2 id="auto-syncing-from-the-desktop">Auto syncing from the Desktop</h2>
<p>With Git every change needs to be committed and pushed in order to sync. None of the desktop apps mentioned do this automatically, and therefore you need to know a bit about Git.</p>
<p>One alternative is to run a script to do this automatically -</p>
<pre><code>#!/usr/bin/env bash

cd NOTES_FOLDER
gstatus=`git status --porcelain`

if [ ${#gstatus} -ne 0 ]
then
    git add --all
    git commit -m &quot;$gstatus&quot;

	git pull --rebase
    git push
else
	git pull
fi
</code></pre><p>Change <code>NOTES_FOLDER</code> to where your notes are present.</p>
<h2 id="discounts">Discounts</h2>
<p>If you really like GitJournal, but cannot afford it, please <a href="mailto:vhanda@gitjournal.io">email me</a>. I&rsquo;ll be happy to give you Pro access for free. Money isn&rsquo;t the primary motivator for this project - It&rsquo;s more important that people have control over their data.</p>
<h2 id="what-about-encryption">What about Encryption?</h2>
<p>GitJournal does not store any of your notes. They are stored by your Git Host such as GitHub or Gitlab. We do <a href="https://github.com/GitJournal/GitJournal/issues/182">plan</a> to eventually offer encrypted Git Hosting, but for now the main focus is improving the mobile app experience.</p>
<h2 id="can-i-use-gitjournal-with-my-own-server">Can I use GitJournal with my own server?</h2>
<p>Yes. GitJournal uses ssh, so any server accessible via ssh should be usable. If you&rsquo;re running your own server, perhaps you should think about <a href="https://www.sshaudit.com/hardening_guides.html">hardening it</a>.</p>
<p>Also if you&rsquo;re using a non standard ssh port you will need to type the full url. Eg - <code>ssh://user@host.com:PORT/path/to/repo/journal.git</code></p>

  </div>
</article>


    </div>

    

<footer class="py-12 bg-gray-100 min-w-full">

  <div class="flex flex-wrap mt-8 px-4 md:flex-no-wrap md:justify-center">
    
    <div class="mx-auto py-4 px-4 whitespace-no-wrap md:m-0 md:px-8">
      <h2 class="text-xl font-medium">GitJournal</h2>
      <ul class="mt-3">
        
        <a class="hover:text-green-500" href="/about" >
          <li class="my-1">About Us</li>
        </a>
        
        <a class="hover:text-green-500" href="/contribute" >
          <li class="my-1">Contribute</li>
        </a>
        
        <a class="hover:text-green-500" href="/support" >
          <li class="my-1">FAQ</li>
        </a>
        
        <a class="hover:text-green-500" href="/privacy" >
          <li class="my-1">Privacy</li>
        </a>
        
        <a class="hover:text-green-500" href="https://github.com/GitJournal/GitJournal/issues?q=is%3Aissue&#43;is%3Aopen&#43;sort%3Areactions-%2B1-desc" >
          <li class="my-1">Roadmap</li>
        </a>
        
      </ul>
    </div>
    
    <div class="mx-auto py-4 px-4 whitespace-no-wrap md:m-0 md:px-8">
      <h2 class="text-xl font-medium">Social</h2>
      <ul class="mt-3">
        
        <a class="hover:text-green-500" href="https://twitter.com/GitJournal_io" >
          <li class="my-1">Twitter</li>
        </a>
        
        <a class="hover:text-green-500" href="https://discord.gg/abBwyEK" >
          <li class="my-1">Discord</li>
        </a>
        
        <a class="hover:text-green-500" href="https://reddit.com/r/GitJournal" >
          <li class="my-1">Reddit</li>
        </a>
        
        <a class="hover:text-green-500" href="https://fosstodon.org/@gitjournal"  rel="me" >
          <li class="my-1">Mastodon</li>
        </a>
        
        <a class="hover:text-green-500" href="/newsletter" >
          <li class="my-1">Newsletter</li>
        </a>
        
      </ul>
    </div>
    
    <div class="mx-auto py-4 px-4 whitespace-no-wrap md:m-0 md:px-8">
      <h2 class="text-xl font-medium">Spread the Word</h2>
      <ul class="mt-3">
        
        <a class="hover:text-green-500" href="https://github.com/GitJournal/GitJournal" >
          <li class="my-1">Star the Project on GitHub</li>
        </a>
        
        <a class="hover:text-green-500" href="https://alternativeto.net/software/gitjournal/" >
          <li class="my-1">Like Us on Alternative To</li>
        </a>
        
        <a class="hover:text-green-500" href="https://yourstack.com/products/gitjournal" >
          <li class="my-1">Stack us on YourStack</li>
        </a>
        
      </ul>
    </div>
    
  </div>

  <div class="mt-12">
    <div class="text-center my-2">
      © 2020 Vishesh Handa
    </div>

    <div class="text-xs text-center">Made with <a class="hover:text-green-500" href="https://gohugo.io/">Hugo</a>, <a
        class="hover:text-green-500" href="https://tailwindcss.com/">Tailwind</a> and <a class="hover:text-green-500"
        href="https://gitjournal.io">GitJournal</a></div>
  </div>
</footer>

  </div>



  
  
  
  
  
  
  
  <script src="https://gitjournal.io/js/main.min.js"></script>
  
</body>

</html>
